.disabled-date {
    pointer-events: none;
}
.show_div_top{
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 500px;
  cursor: pointer;

}
.show_div_top_btn{
  position: absolute;
  z-index: 2;
  display: flex;
  right: 0;
  top:70%;
  margin-right: 10%;
}
.btn_view_all{
  padding: 5px 20px;
  font-family: Mallory,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.57;
  font-weight: 600;
  background: rgb(209, 12, 209);
  border: 1px solid rgb(209, 12, 209);
  color:#fff;
  outline-width: 10px;
  outline-color: rgb(36, 2, 39);
  transition: ease 0.3s;
  cursor: pointer;
  border-radius: 3px;
}
.btn_view_all:hover{
  background: #fff;
  color: rgb(209, 12, 209);
  transition: ease 0.3s;
}
.show_div_top_img{
  width: 85%;
  height: 500px;
  overflow: hidden;
  margin: 0px auto;
}
.show_top_img{
  width: 100%;
  height: 500px;
}
.show_div_left{
  display: inline-block;
  width: 58%;
}
.show_div_right{
  display: inline-block;
  width: 42%;
  height: 500px;
  position: absolute;
}
.show_title{
  font-family: Mallory,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 40px;
  line-height: 1.57;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(80, 75, 75);
}
.show_address{
  font-family: Mallory,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.57;
  font-weight: 400;
  font-style: normal;
  color: rgb(107, 107, 107);
}
.show_div{
  margin-left: 20%;
  padding: 15px 0px;
  border-bottom: 1px solid rgb(238, 238, 238);
  display: block;
  width: 70%;
}
.show_element_title{
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.375em;
  color: rgb(72, 72, 72);
}
.show_contain{
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.375em;
  color: rgb(72, 72,72);
  margin-top: 10px;
}
.show_services{
  list-style-type: none;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.375em;
  color: rgb(72, 72,72);
  display: inline-block;
  width: 50%;
  margin-top: 10px;
}
.show_menu_services{
  width: 100%;
  display: inline-block;
}
.show_open{
  color:rgb(1, 221, 148)
}
.show_close {
  color: rgb(168, 0, 93)
}
.show_icon_locate {
  color: rgb(44, 44, 44)
}
.show_star {
  color: rgb(248, 12, 177)
}
.show_book{
  margin : 30px 0;
  width: 65%;
  border: 1px solid rgb(177, 177, 177);
}
.show_book_date{
  display: inline-block;
  width: 90%;
  margin: 10px 20px;
}
.show_book_time{
  display: inline-block;
  width: 90%;
  margin: 10px 20px;
}
.show_book_info{
  display: inline-block;
  width: 90%;
  margin: 10px 20px;
  padding: 10px 0;
  border-bottom:1px solid rgb(201, 201, 201);
}
.show_book_label{
  display: inline-block;
  width: 100%;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.375em;
  color: rgb(97, 97, 97);
}
.show_book_date_contain{
  width: 100%;
  height: 38px;
  font-size: 17px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.375em;
}
.show_book_time_contain {
  width: 49%;
  height: 38px;
  font-size: 17px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.375em;
  margin-right: 1%;
}
.show_book_btn{
  width: 90%;
  color: #ffffff;
  padding: 7px 20px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  line-height: 20px;
  font-size: 1.7rem;
  font-weight: 500;
  background: rgb(247, 13, 157);
  border: 1px solid rgb(247, 13, 157);
  cursor: pointer;
  outline: none;
  margin: 10px 20px;
  transition: ease-in-out 0.3s;
}
.show_book_btn:hover{
  color: #5e5e5e;
  background: rgb(255, 255, 255);
  transition: ease-in-out 0.3s;
}
.show_book_text{
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.375em;
  color: rgb(72, 72,72);
  margin-bottom: 5px;
}
.show_book_bolder{
  font-size: 25px;
}
.close_modal_show {
  position: absolute;
  display: flex;
  right: 0;
  z-index: 50000;
  outline: none;
  color: #f7f7f7;
  background: rgb(209, 58, 58);
  border: 1px solid rgb(209, 58, 58);
  font-size: 1.9rem;
  cursor: pointer;
  line-height: 0.9em;
  font-family: Mallory,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 1%;
  margin-right: 1%;
  padding: 6px 20px;
  border-radius: 5px;
  transition: ease 0.3s;
}
.close_modal_show:hover,
.close_modal_show:focus,
.close_modal_show:active{
  color: rgb(235, 70, 70);
  background: #f5f5f5;
  border: 1px solid rgb(235, 70, 70);
  transition: ease 0.3s;
}
.modal_container_show {
  display: inline-block;
  width: 100%;
  height: 650px;
  background: rgb(252, 252, 252);
  border: 1px solid rgb(32, 1, 31);
}
.modal_container_img{
  display: inline-block;
  width: 80%;
  margin: 5% 0 0 10%;
  text-align: center;
}
/* .modal_img{
  display: inline-block;
  width:100%;
} */
.show_div_top_img2{
  height: 490px;
  width: 100%;
  border-radius: 10px;
  background: transparent;
  border: 1px solid rgb(12, 0, 11);
}
.show_top_img_2{
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.show_carousel {
  background: transparent;
}
.carousel .slide{
  background: transparent !important;
}
.show_element_title_big{
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 1.375em;
  color: rgb(72, 72, 72);
  margin: 2% 0%;
}
.show_contact_host{
  padding: 9px 60px;
  font-family: Mallory, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.57;
  font-weight: 600;
  background: rgb(107, 1, 134);
  border: 1px solid rgb(107, 1, 134);
  color: #fff;
  outline-width: 10px;
  outline-color: rgb(0, 14, 20);
  transition: ease 0.3s;
  cursor: pointer;
  border-radius: 3px;
  margin: 3% 0%;
}

.show_contact_host:hover {
  background: #fff;
  color: rgb(107, 1, 134);
  transition: ease 0.3s;
}
.img_host{
  width: 70%;
  height: 78%;
  border-radius: 50%;
}
.show_div_info{
  left: 0;
  display: inline-block;
  width: 80%;
  /* border: 1px solid rgb(212, 212, 212); */
  overflow: hidden;
  height: 84px;
}
.show_div_info_img{
  right: 0;
  display: inline-block;
  width: 17%;
  height: 84px;
  text-align: center;
  /* border: 1px solid firebrick; */
  overflow: hidden;
}
.show_reviews{
  padding: 15px 0px;
  border-bottom: 1px solid rgb(238, 238, 238);
  display: block;
  width: 100%;
  margin-top: 3%;
}
.reviews_img{
  display: flex;
  width: 100%;
  height: 60px;
}
.img_reviews{
  width: 9%;
  height: 82%;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
.info_reviews{
  width: 40%;
  height: 82%;
  margin-left: 2%;
  overflow: hidden;
  display: inline-block;
  font-family: Mallory,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.57;
  font-weight: 500;
  font-style: normal;
  color: rgb(107, 107, 107);
}
.bookMobile{
  display: none;
}
.div_modal_show {
  display: flex;
  width: 85%;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 29999;
  background-color: #fff;
  flex-direction: column;
  box-shadow: 0px 0px 0px 400px rgba(0, 0, 0, 0.40);
}
.div_modal_book {
  display: none;
}
@media (max-width:858px) {
  .show_div_right{
    display:none;
  }
  .bookMobile {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.137);
  }
  .bookInfoMobile{
    width: 50%;
    display: inline-block;
    padding:10px 0 10px 15px;
  }
  .bookBtnMobile{
    width: 50%;
    display: inline-block;
    padding:10px 0 10px 15px;
  }
  .book_text_mobile {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.375em;
    color: rgb(31, 31, 31);
    margin:5px;
  }
  .book_bolder_mobile{
    font-size: 18px;
  }
  .book_btn_mobile {
    width: 80%;
    color: #ffffff;
    padding: 13px 20px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    line-height: 20px;
    font-size: 1.7rem;
    font-weight: 500;
    background: linear-gradient(125deg, rgba(215, 0, 132, 1) 0%, rgb(184, 2, 129) 60%, rgb(156, 0, 104) 100%);
    border: none;
    cursor: pointer;
    outline: none;
    transition: ease-in-out 0.2s;
    border-radius: 3px;
  }
  .book_btn_mobile:hover {
    color: rgb(247, 13, 157);
    background: rgb(255, 255, 255);
    border:1px solid rgb(207, 5, 116);
    transition: ease-in-out 0.2s;
    outline: none;
  }
  .show_div_top {
    height: 40vh;
  }
  .show_div_top_img {
    width: 100%;
    height: 45vh;
  }
  .show_top_img {
    width: 100%;
    height: 40vh;
  }
  .show_div_top_btn {
    top: 45vh;
    margin-right: 5%;
  }
  .show_div_left {
    width: 100%;
  }
  .show_div {
    margin-left: 5%;
    width: 90%;
  }
  .show_div_info{
    width: 75%;
    /* border: 1px solid rgb(212, 212, 212); */
  }
  .show_div_info_img{
      right: 0;
      display: inline-block;
      width: 25%;
      height: 17vh;
  }
  .show_title {
    font-size: 25px;
    color: rgb(34, 34, 34);
  }
  .img_host {
    width: 80%;
    height: 78%;
    border-radius: 50%;
  }
  .img_reviews {
    width: 17%;
  }
  .div_modal_show {
    width: 95%;
  }
  .modal_container_show {
    height: 70vh;
  }
  .show_div_top_img2 {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: transparent;
    border: 1px solid rgb(12, 0, 11);
  }
  .modal_container_img {
    display: inline-block;
    width: 90%;
    margin: 10% 0 0 5%;
    text-align: center;
  }
  .show_top_img_2 {
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }
  .legend{
    display:none;
  }
  .show_carousel{
    height: 100%;
  }
  .close_modal_show {
    font-size: 1.4rem;
    padding: 5px 15px;
  }
  .show_element_title_big {
    font-size: 20px;
  }
  .show_contact_host {
    padding: 9px 0;
    width: 100%;
  }
  .div_modal_book {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 29999;
    background-color: #fff;
    flex-direction: column;
    box-shadow: 0px 0px 0px 400px rgba(0, 0, 0, 0.40);
  }
  .close_modal_book {
    position: absolute;
    display: flex;
    right: 0;
    z-index: 50000;
    outline: none;
    color: #141414;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(253, 253, 253);
    font-size: 1.9rem;
    cursor: pointer;
    line-height: 0.9em;
    font-family: Mallory, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 1%;
    margin-right: 1%;
    padding: 6px 20px;
    border-radius: 5px;
    transition: ease 0.3s;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.40);

  }
  .close_modal_book:hover, .close_modal_book:focus, .close_modal_book:active {
    color: rgb(27, 27, 27);
    background: #eeeeee;
    border: 1px solid #eeeeee;
    transition: ease 0.3s;
  }
  .modal_container_book {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(32, 1, 31);
  }
  .show_book{
    margin : 10% 1% 10% 1%;
    width: 96%;
    border: none;
  }
  .show_book_info {
    display: inline-block;
    width: 90%;
    margin: 10px 20px;
    padding: 10px 0;
    border-bottom: 1px solid rgb(201, 201, 201);
  }
  .show_book_time_contain {
    width: 100%;
    height: 38px;
    font-size: 17px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 1.375em;
    margin: 2% 0%;
    display:block
  }
  .show_book_btn {
    width: 90%;
    color: #ffffff;
    padding: 13px 20px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    line-height: 20px;
    font-size: 1.7rem;
    font-weight: 500;
    background: linear-gradient(125deg, rgba(215, 0, 132, 1) 0%, rgb(184, 2, 129) 60%, rgb(156, 0, 104) 100%);
    border: none;
    cursor: pointer;
    outline: none;
    margin: 10px 20px;
    transition: ease-in-out 0.3s;
  }

  .show_book_btn:hover, .show_book_btn:focus, .show_book_btn:active {
    color: rgb(247, 13, 157);
    background: rgb(255, 255, 255);
    border:1px solid rgb(207, 5, 116);
    transition: ease-in-out 0.2s;
    outline: none;
  }
}