/* Rockness*/
@font-face {
    font-family: 'Rockness';
    src: url('../assets/fonts/rockness/Rockness.ttf');
    src: url('../assets/fonts/rockness/Rockness.otf');
    font-weight: normal;
    font-style: normal;
}

/* Thundergood*/
@font-face {
    font-family: 'Thundergood';
    src: url('../assets/fonts/thundergood/Thundergood.ttf');
    font-weight: normal;
    font-style: normal;
}

/*Candara*/
@font-face {
    font-family: 'Candra';
    src: url('../assets/fonts/candara/Candara.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Signature of the ancient*/
@font-face {
    font-family: 'Signature of the Ancient';
    src: url('../assets/fonts/signature-of-the-ancient/Signature of the Ancient.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Prestige signature script*/
@font-face {
    font-family: 'Prestige Signature Script';
    src: url('../assets/fonts/prestige-signature-script--demo/Prestige Signature Script - Demo.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Edwardian Script ITC*/
@font-face {
    font-family: 'Edwardian Script ITC';
    src: url('../assets/fonts/Edwardian Script ITC/EdwardianScriptITC.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Gabriola*/
@font-face {
    font-family: 'Gabriola';
    src: url('../assets/fonts/gabriola-font/Gabriola.ttf');
    font-weight: normal;
    font-style: normal;
}
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .PageConteneur{
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 80px;
    }
    .imageHome{
        display: flex;
        width: 100%;
        height: 600px;

    }
    .imageHome img{
        width: 100%;
        height: 100%;
    }
    .partieSearch{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
    }
    .searchContenu{
        width: 70%;
        background: rgba(255, 255, 255, 0.856);
        margin-top: 7%;
        padding: 10px;
        border-radius: 1rem;

        /* text-align: center;
        justify-content: center; */
    }
    .h1Home{
        color: rgba(5, 5, 5, 0.781);
        font-size: 55px;
        font-family: Gabriola;
        text-align: left;
        font-weight: bolder;
        margin: 5px;
    }
    .h3Home{
        color: rgba(58, 57, 57, 0.918);
        font-size: 18px;
        font-family: "Helvetica", Arial,sans-serif;
        text-align: left;
        font-weight: normal;
        margin: 5px;

    }
    .TypeEvent{
        width: 92%;
        height: 42px;
        display: block;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.8;
        color: #343840;
        outline: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ced2da;
        border-radius: 5px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        margin: 5px;
    }
    .TypeEvent:hover, .TypeEvent:focus, .LocateEvent:focus, .LocateEvent:hover,
    .TimeEvent:focus, .TimeEvent:hover, .NumberEvent:hover {
        box-shadow: 0 1px 1.5rem rgba(240, 70, 255, 0.253)
    }
    .LocateEvent{
        width: 45%;
        height: 42px;
        display: inline-block;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.8;
        color: #343840;
        outline: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ced2da;
        border-radius: 5px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        margin: 5px;
    }
    .TimeEvent{
        width: 45%;
        height: 42px;
        display: inline-block;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.8;
        color: #343840;
        outline: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ced2da;
        border-radius: 5px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        margin: 5px;
    }
    .NumberEvent{
        width: 50%;
        height: 42px;
        display: inline-block;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.8;
        color: #343840;
        outline: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ced2da;
        border-radius: 5px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        margin: 5px;
    }
    .searchEvent{
        width: 40%;
        font-size: 18px;
        margin: 5px;
        height: 42px;
        line-height: 22px;
        font-family: "Helvetica";
        border-radius: 5px;
        border-width: 1px;
        display: inline-block;
        color: #fff;
        background-color: #d229e8;
        border-color: #d229e8;
        margin-bottom: 0;
        text-align: center;
        touch-action: manipulation;
        cursor: pointer;
        border: 1px solid transparent;
        transition: ease-in-out 0.3s;
    }
    .searchEvent:hover{
        background-color: #720880;
    }
    .CategorieEvent{
        width: 100%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        text-align: center;
        padding-top: 4rem;
        background: rgb(243, 243, 243);
    }
    .H1Categorie{
        font-family: Calibri;
        font-weight: normal;
        font-size: 4rem;
        color: #39393a;
    }
    .TypeCategorie{
        width: 100%;

        text-align: center;
        /* display: flex; */
        justify-content: center;
        padding-top: 4rem;
    }
    .Categorie1{
        width: 25%;
        margin: 20px;
        display: inline-block;
    }
    .Categorie1 img{
        width: 100%;
    }
    .Categorie1 legend{
        text-align: center;
        background: #fff;
        font-family: Calibri;
        width: 100%;
        font-size: 2rem;
        font-weight: lighter;
        padding: 4px;
    }
    .ButtonCategorie{
        width: 15%;
        font-size: 18px;
        margin: 5px;
        height: 42px;
        line-height: 22px;
        font-family: "Helvetica";
        border-radius: 5px;
        border-width: 1px;
        display: inline-block;
        color: #fff;
        background-color: #e02df8;
        border-color: #e02df8;
        margin-bottom: 0;
        text-align: center;
        touch-action: manipulation;
        cursor: pointer;
        border: 1px solid transparent;
        transition: ease-in-out 0.3s;
    }
    .ButtonCategorie:hover {
        background: #570b5a;
    }
    /* .SlideControl{
        animation: infinite;
    } */
    .SlideControl .slick-next{
        position: absolute;
        top:50%;
        z-index: 1;
        right: 0;
    }
    .SlideControl .slick-prev{
        position: absolute;
        top: 50%;
        z-index: 2000;
        left: 0;
    }