/* Rockness*/
@font-face {
    font-family: 'Rockness';
    src: url('../assets/fonts/rockness/Rockness.ttf');
    src: url('../assets/fonts/rockness/Rockness.otf');
    font-weight: normal;
    font-style: normal;
}

/* Thundergood*/
@font-face {
    font-family: 'Thundergood';
    src: url('../assets/fonts/thundergood/Thundergood.ttf');
    font-weight: normal;
    font-style: normal;
}

/*Candara*/
@font-face {
    font-family: 'Candra';
    src: url('../assets/fonts/candara/Candara.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Signature of the ancient*/
@font-face {
    font-family: 'Signature of the Ancient';
    src: url('../assets/fonts/signature-of-the-ancient/Signature of the Ancient.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Prestige signature script*/
@font-face {
    font-family: 'Prestige Signature Script';
    src: url('../assets/fonts/prestige-signature-script--demo/Prestige Signature Script - Demo.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Edwardian Script ITC*/
@font-face {
    font-family: 'Edwardian Script ITC';
    src: url('../assets/fonts/Edwardian Script ITC/EdwardianScriptITC.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Gabriola*/
@font-face {
    font-family: 'Gabriola';
    src: url('../assets/fonts/gabriola-font/Gabriola.ttf');
    font-weight: normal;
    font-style: normal;
}
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .PageConteneur{
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 80px;
    }
    .imageHome{
        display: flex;
        width: 100%;
        height: 600px;

    }
    .imageHome img{
        width: 100%;
        height: 100%;
    }
    .partieSearch{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
    }
    .searchContenu{
        width: 70%;
        background: rgba(255, 255, 255, 0.952);
        margin-top: 7%;
        padding: 10px;

        /* text-align: center;
        justify-content: center; */
    }
    .h1Home{
        color: rgba(5, 5, 5, 0.781);
        font-size: 55px;
        font-family: Gabriola;
        text-align: left;
        font-weight: bolder;
        margin: 5px;
    }
    .h3Home{
        color: rgba(58, 57, 57, 0.918);
        font-size: 18px;
        font-family: "Helvetica", Arial,sans-serif;
        text-align: left;
        font-weight: normal;
        margin: 5px;

    }
    .TypeEvent{
        width: 92%;
        height: 42px;
        display: block;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.8;
        color: #343840;
        outline: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ced2da;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        margin: 5px;
    }
    .TypeEvent:hover, .TypeEvent:focus, .LocateEvent:focus, .LocateEvent:hover,
    .TimeEvent:focus, .TimeEvent:hover, .NumberEvent:hover {
        box-shadow: 0 1px 1.5rem rgba(240, 70, 255, 0.253)
    }
    .LocateEvent{
        width: 45%;
        height: 42px;
        display: inline-block;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.8;
        color: #343840;
        outline: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ced2da;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        margin: 5px;
    }
    .TimeEvent{
        width: 45%;
        height: 42px;
        display: inline-block;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.8;
        color: #343840;
        outline: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ced2da;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        margin: 5px;
    }
    .NumberEvent{
        width: 50%;
        height: 42px;
        display: inline-block;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.8;
        color: #343840;
        outline: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ced2da;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        margin: 5px;
    }
    .searchEvent{
        width: 40%;
        font-size: 18px;
        margin: 5px;
        height: 42px;
        line-height: 22px;
        font-family: "Helvetica";
        border-width: 1px;
        display: inline-block;
        color: #fff;
        background-color: #d229e8;
        border-color: #d229e8;
        margin-bottom: 0;
        text-align: center;
        touch-action: manipulation;
        cursor: pointer;
        border: 1px solid transparent;
        transition: ease-in-out 0.3s;
    }
    .searchEvent:hover{
        background-color: #720880;
    }
    .premium{
        width: 100%;
        padding-top: 4rem;
        padding-left: 80px;
        padding-right: 80px;
        background: rgb(255, 255, 255);
    }
    .text_premium{
        font-weight: 600;
        margin-bottom: 0px;
        font-size: 22px;
        line-height: 26px;
        color: rgb(34, 34, 34);
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }
    .little_text_premium{
        font-size: 16px;
        line-height: 24px;
        margin-top: 4px;
        color: rgb(34, 34, 34);
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        font-weight: 400;

    }
    .img_premium{
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .premium_img{
        width: 100%;
    }
    .more_premium{
        position: absolute; 
        color: rgb(132, 13, 136);
        background: rgb(255, 255, 255);
        border-color: transparent !important;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        width: auto;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: normal;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: 800;
        box-shadow: none;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 48.541px;
        margin: 0px !important;
        border-width: 1px !important;
        border-style: solid !important;
        transition: 0.3s;
    }
    .more_premium:hover{
        color: #fff;
        background: rgb(132, 13, 136);
        font-weight: 800;
        transition: 0.3s;
    }
    .most_search_btn{
        position: absolute; 
        color: rgb(255, 255, 255);
        background: transparent;
        border:none;
        cursor: pointer;
        display: inline-block;
        font-size: 25px;
        line-height: 25px;
        width: 20%;
        height: 12%;
        letter-spacing: normal;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: 600;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px !important;
        text-align: left;
        text-shadow: 2px 2px 2px rgb(32, 32, 32);
        outline:none;
    }
    .TypeCategorie{
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 8px;
        display: flex;
    }
    .Categorie1{
        width: 32%;
        height:230px;
        margin: 5px;
        display: flex;
        overflow: hidden;
    }
    .img_most {
        width: 100%;
        height:100%;
        transition: 0.5s;
    }
    .img_most:hover {
        transform: scale(1.2);
        transition: 0.5s;
    }
    .subscribe{
        width: 48.2%;
        border:1px solid rgb(206, 206, 206);
        padding-left:15px;
        display: inline-block;
        margin: 10px;
        height: 150px;
    }
    .subscribe_text{
        width: 65%;
        height: 100%;
        display: inline-block;
        overflow: hidden;
        padding: 10px;
    }
    .subscribe_img{
        width: 35%;
        height: 100%;
        display: inline-block;
        overflow: hidden;
        border-radius: 100% 0 0 0;
    }
    .img_subscribe{
        width: 100%;
        height:100%;
    }
    .text_premium_sub{
        font-weight: 600;
        margin-top: 10px;
        font-size: 22px;
        line-height: 26px;
        color: rgb(34, 34, 34);
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }
    .subscribe_btn{
        background: rgb(236, 21, 226);
        padding: 6px 15px;
        border:none;
        color: #fff;
        margin: 15px 15px 15px 15px;
        cursor: pointer;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        transition: 0.3s;
        outline: none;
    }
    .subscribe_btn:hover{
        color: rgb(236, 21, 226);
        background: #fff;
        border:1.5px solid rgb(236, 21, 226);
        font-weight: bolder;
        transition: 0.3s;
    }
    .some_place{
        width: 100%;
        display:inline-block;
        margin-top: 10px;
    }
    .places{
        width: 24%;
        display: inline-block;
        margin-right: 11px;
        cursor:pointer
    }
    .places_img{
        width: 100%;
        height: 190px;
        overflow: hidden;
        border-radius: 5px;
    }
    .country_places{
        width: 80%;
        display: inline-block;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        line-height: 18px;
        font-size: 1.5rem;
        color: rgb(156, 156, 156);
        margin-top: 10px;
    }
    .rate_places{
        width: 20%;
        display: inline-block;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        line-height: 18px;
        font-size: 1.4rem;
        color: rgb(56, 56, 56);
        margin-top: 10px;
    }
    .etoiles{
        color: rgb(240, 79, 255);
        font-size: 1.2rem;
    }
    .name_places{
        display: inline-block;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        line-height: 20px;
        font-size: 1.6rem;
        width: 100%;
        margin: 5px 0px;
        font-weight: 400;
        color:rgb(54, 54, 54);
    }
    .price_places{
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;;
        line-height: 20px;
        font-size: 1.6rem;
        width: 100%;
        font-weight: 400;
        color: rgb(46, 45, 45);
    }
    .img_places{
        width: 100%;
        height: 100%;
        transition: 0.3s;
    }
    .img_places:hover{
        transform: scale(1.2);
        transition: 0.3s;
    }
    .show_more_places{
        background:white;
        padding: 7px 16px;
        border:none;
        color: rgb(214, 22, 221);
        margin: 15px 15px 15px 15px;
        cursor: pointer;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        transition: 0.3s;
        text-decoration: underline;
        font-weight: 600;
        font-size: medium;
        outline: none;
    }
    .show_more_places:hover{
        background: rgba(255, 45, 238, 0.945);
        color: rgb(233, 233, 233);
        transition: 0.3s;
    }
    .icon_plus{
        font-size: smaller;
    }
    .first_kind {
        width: 100%;
        margin-top: 10px;
    }
    .second_kind {
        width: 100%;
        margin-top: 15px;
    }
    .big_one{
        width: 68%;
        display:inline-flex;
        height: 400px;
        cursor: pointer;
        overflow: hidden;
    }
    .big_one_picture{
        width: 100%;
        height:100%;
        transition:0.5s;
    }
    .big_one_picture:hover{
        transform: scale(1.2);
        transition:0.5s;
    }
    .big_one_text{
        position: absolute;
        z-index: 2;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;;
        line-height: 20px;
        font-size: 3rem;
        color: #fff;
        text-shadow: 2px 2px 2px rgb(32, 32, 32);
        margin: 20px;
    }
    .small_one{
        width: 30%;
        margin-left: 1.8%;
        display:inline-block;
        cursor: pointer;
        overflow: hidden;
    }
    .top_one{
        width:100%;
        height: 189px;
        margin-bottom: 22px;
        display: flex;
        overflow: hidden;
    }
    .down_one {
        width: 100%;
        height: 189px;
        display: flex;
        overflow: hidden;
    }
    .big_ones {
        width: 68%;
        display: inline-flex;
        height: 400px;
        cursor: pointer;
        overflow: hidden;
        margin-left: 1.8%;
    }
    .small_ones {
        width: 30%;
        display: inline-block;
        cursor: pointer;
        overflow: hidden;
    }
    .show_more_kind {
        background: white;
        padding: 10px 20px;
        border: none;
        color: rgb(214, 22, 221);
        margin: 15px 15px 15px 15px;
        cursor: pointer;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        transition: 0.3s;
        text-decoration: underline;
        font-weight: 600;
        font-size: 1.8rem;
    }
    .footer{
        border-top: 1px solid rgb(12, 1, 17);
        width: 100%;
    }
    .show_more_kind:hover {
        background: rgba(255, 45, 238, 0.945);
        color: rgb(233, 233, 233);
        transition: 0.3s;
    }
    .SlideControl .slick-next{
        position: absolute;
        top:50%;
        z-index: 1;
        right: 0;
    }
    .SlideControl .slick-prev{
        position: absolute;
        top: 50%;
        z-index: 2000;
        left: 0;
    }
    .SlideControl .slick-dots{
        bottom:0;
    }
    .SlideControl .slick-dots li.slick-active button:before {
        color:rgba(255, 255, 255, 0.979);
    }
    .SlideControl .slick-dots li button:before{
        color:rgba(255, 255, 255, 0.747);
    }
    .div_modal{
        display:flex;
    }
    .modal_container{
        display: inline-block;
        width: 100%;
        height: 200px;
    }
    .close_modal{
        position: absolute;
        display: flex;
        right:0;
        z-index: 50000;
        outline:none;
    }
    .div_mod_text{
        width: 65%;
        display: inline-block;
        height: 100%;
        overflow: hidden;
    }
    .div_mod_img{
        width: 35%;
        display:inline-block;
        overflow: hidden;
        border-radius: 100% 0 0 0;
        height: 100%;
    }
    .text_modal{
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;;
        line-height: 20px;
        font-size: 1.5rem;
        margin: 10px;
        width: 100%;
        display: inline-block;
    }
    .text_modal_bold{
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        line-height: 20px;
        font-size: 1.8rem;
        margin: 5px 10px;
        width: 100%;
        display: inline-block;
        font-weight: 600;
    }
    .modal_input_div{
        width: 75%;
        display: inline-block;
        margin: 8px 10px;
    }
    .input_modal{
        width: 65%;
        display: inline-block;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        outline: none;
        height: 31.9px;
        border: 1px solid rgb(90, 90, 90);
        margin:5px 2px 5px 0px;
        font-size: 15px;
        color: #343840;
        transition: 0.3s;
    }
    .input_modal:hover, .input_modal:focus{
        border: 1px solid rgb(183, 2, 207);
    }
    .btn_modal{
        width: 27%;
        display: inline-block;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        outline: none;
        border: 1px solid rgb(183, 2, 207);
        margin:5px 1px 5px 1px;
        padding: 6px 15px;
        background: rgb(183, 2, 207);
        color: #fff;
        transition:0.3s;
        cursor: pointer;
    }
    .btn_modal:hover{
        background: white;
        color:rgb(183, 2, 207);
        transition:0.3s;
        font-weight:500;
    }
    .modal_check_div {
        width: 100%;
        display: inline-block;
        margin: 8px 10px;
    }
    .check_modal{
        
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        position: relative !important;
        left:0 !important;

        width: 15px;
        height: 15px;
        border: 1px solid rgb(139, 139, 139);
        transition: 0.2s all linear;
        outline: none;
        border-radius:3px;
    }
    .check_modal:checked {
        border: 4px solid rgb(255, 0, 221);
        outline: none;
        transition: 0.2s all linear;
    }
    .label_modal{
        position: absolute;
        margin-left: 1%;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        line-height: 15px;
        font-size: 1.3rem;
        cursor: pointer;
    }
    .link_modal{
        color: #e809f0;
        text-decoration: none;
        cursor: pointer;
    }
    .link_modal:hover{
        background: none;
        text-decoration: underline;
    }
    .close_modal{
        background: none;
        border:none;
        color: #100011;
        font-size: 1.8rem;
        font-weight: 600;
        outile:none;
        cursor: pointer;
    }